venv
media
.idea
__pycache__
*.log
*.pyc
*.sqlite3
.env*
*db
*_catalog.csv*
*_stock.csv
celerybeat-schedule
postgres
.vscode
.DS_Store
.ruff_cache
.pytest_cache
.python-version
dumps
docker-compose.dev.yml